$black: #1E1E1F;

.columns {
  display: grid;
  grid-template-columns: 2fr 11fr 5fr;
  grid-template-areas: 'title portrait content';
  row-gap: 12px;
  height: 100vh;

  @media all and (max-width: 1000px) {
    grid-template-areas:  'title'
                          'portrait'
                          'content';
    grid-template-columns: calc(100vw - 4em);
    margin-left: 4em;
  }
}

.nav {
  position: fixed;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
  text-align: center;
  padding: 0.2em 0.6em 0 0.6em;
  transition: all 40ms ease-out;
  z-index: 10;

  &:hover,
  &:active {
    left: 0.6em;
  }

  @media all and (max-width: 1000px) {
    bottom: unset;
    top: 1em;
  }
}

.bio {
  grid-area: portrait;

  & h3 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0;
  }

  & img {
    border-radius: 4px;
  }

  @media all and (max-width: 1000px) {
    padding: 12px;

    & h3 {
      margin-top: 0;
    }
  }
}

.content {
  grid-area: content;
  margin-top: 128px;
  padding-right: 1em;
  overflow: auto;

  & ul {
    list-style-type: square;
    
    & li {
      font-size: 1.2em;
      margin-bottom: 16px;
    }
  }

  @media all and (max-width: 1000px) {
    margin-top: 12px;
  }

  a {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    padding: 0.2em 0.6em;
    transition: all 40ms ease-out;
    border-radius: 2px;
    background: $black;
    color: white;

    &:hover,
    &:focus {
      color: $black;
      background: transparent;
    }
  }
}

.exhibitions,
.publications {
  grid-area: content;
  margin-top: 128px;
  padding: 0 1em;

  & b {
    font-weight: 800;
  }

  & h3 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0;
  }
}

.title {
  grid-area: title;
  position: fixed;
  top: calc(50% - 0.65em);
  left: -2.6em;
  transform: rotate(-90deg);
  height: 1.3em;
  width: 100vh;
  font-size: 8em;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;

  @media all and (max-width: 1000px) {
    font-size: 4em;
    left: -5.2em;
  }
}